[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon={{idea_png_path}}
Exec="{{idea_exec_path}}" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea